body {
  background: #fafafa;
  font-family: 'Roboto';
}
.all_books {
  padding: 20px;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.all_books .container {
  margin: 0px;
}
.all-books-title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #3d3d3d;
}
img {
  width: 100%;
}

.hip-item {
  text-align: center;
  /* line-height: 200px; */
  color: #fff;
}

.hip-item:nth-of-type(odd) {
  background: #e6e6e6;
  margin: 10px 0px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
  /* border: 1px solid black; */
  border: 1px solid;
  width: 227px;
  padding: 10px;
}

.hip-item:nth-of-type(even) {
  background: #e6e6e6;
  margin: 10px 0px;
  border-radius: 5px;
  /* border: 1px solid black; */
  border: 1px solid;
  box-shadow: 0px 4px 4px 5px rgb(0 0 0 / 25%);
  /* border: 1px solid black; */
  border: 1px solid;
  width: 227px;
  padding: 10px;
}

.hip-item figure {
  /* display: grid; */
  grid-gap: 1.5rem;
  grid-template-columns: 150px 1fr;
  align-items: center;
  margin: 0px;
  height: 345px;
}

.hip-item figure img {
  display: block;
  max-width: 100%;
  height: 220px;
}

.hip-item figure figcaption {

height: 70px;
}

.hip-item figure figcaption p {

margin: 5px;

padding: 0px;

display: inline-block;

height: 14px;

color: black;

font-weight: 600;

display: inline-block;
}

.container {
  margin: 150px auto;
  max-width: 960px;
}
.hip-grid { margin: 1.5rem auto;}

.edit_book {
  margin: 0px 10px;
  display: inline-block;
}

.edit_book a {
  color: #008CFD;
}

.delete_book a {
  color: #E57373;
}
.delete_book a:hover {
  color: #bd5e5e;
}
.delete_book {
  margin: 0px 10px;
  display: inline-block;
}

.modal-body p a {
      text-decoration: none;
    padding: 6px 10px;
    background: #E57373;
    color: white;
    border-radius: 10px;
}