.qr_title{

}

.print_button button{
    width: 316px;
    height: 55px;
    font-size: 20px;
}

.back_button button{
    width: 316px;
    height: 55px;
    left: 981px;
    top: 715px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 15px;
    font-weight: 400;
    font-size: 20px;
}

.back_button a{
    color: black;
    text-decoration: none;
}

.back_button a:hover {
    color: black;
    text-decoration:none;
    cursor:pointer;
}