* {
  margin: 0;
  padding: 0;
  max-width: 1920px;
}

/* ------------------------------------------------ navbar -------------------------------------------*/

.nav-item {
  padding: 0px;
}

a.navbar-brand {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  /* font color is with the nav-bar brand */
}

a.nav-link {
  font-size: 16px;
  /* font color is with the nav-bar link */
}

/* --------------------------------------------------------------------------------------end - navbar */

/* ------------------------------- Login form ------------------ */
.login_form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  height: 100vh;
  background-image: url(../photos/anondolok1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #b3b3b3;
  background-blend-mode: multiply;
}

 .logo {
  position: absolute;
  align-self: flex-start;
  left: 10px;
}
 .logo img {
  height: 75px;
  width: auto;
}
 .login {
  display: flex;
  flex-direction: column;
  background: #dcdcdc;
  border-radius: 4px;
  width: 400px;
  height: auto;
  padding: 60px 68px 40px;
}
 .login__title {
  margin-bottom: 20px;
  font-size: 2.2rem;
  font-weight: 600;
  color: #4DD0E1;
}
 .login__group {
  position: relative;
  z-index: 10;
  display: flex;
}
.login__group__input::placeholder {
  position: absolute;
  z-index: 150;
  font-size: 0.9rem;
  top: 24px;
  left: 18px;
  margin: auto;
}

 .login__group__input {
  width: 100%;
  position: relative;
  z-index: 100;
  background: #E5E5E5;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  opacity: 1;
  font-size: 1rem;
  color: black;
  line-height: 50px;
  padding: 12px 18px 0;
}

 .login__sign-in {
  margin: 24px 0 12px;
  padding: 16px;
  color: #fff;
  background: #4DD0E1;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
 .login__secondary-cta {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}
 .login__secondary-cta__text {
  opacity: 1;
  font-size: 0.9rem;
  color: #8C8888;
  text-decoration: none;
}
 .login__secondary-cta__text--need-help {
  transition: all 0.3s ease-in;
}
.form-check-label {
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 0.9rem;
    color: #8C8888;
}
.form-check-input {
  margin-left: 1px;
}
.sign_up_message{
  transition: all 0.3s ease-in;
  color: #4dd0e1;
  font-size: 0.9rem;
}
.signup_option p {
  display: inline-block;
  color: #8C8888;
  font-size: 0.9rem;
  font-weight: normal;
}
.signup_option{
  display: flow-root;
  margin: 24px 0 12px;
}
 .login__secondary-cta__text--need-help:hover {
  text-decoration: none;
}
.sign_up_message:hover{
  transition: all 0.3s ease-in;
  text-decoration: none;
}
::-moz-placeholder {
  font-size: 0.7rem;
}

:-ms-input-placeholder {
  font-size: 0.7rem;
}

/* ------------------------------- End - Login form ------------------ */

/* responsive for landscape mobile screen */
@media (orientation:portrait) {
  /* .login_form {
    height: auto;
  } */
  .login {
    /*width: auto;*/
  }
}

/* ------------------------- media screen for ipad (landscape) ------------------ */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* For landscape layouts only */
    .login_form {
        /*height: auto;*/
    }
}
/* -------------------------------------- end - media screen for ipad ((landscape)) */

/* ------------------------- media screen for mobile --------------- */
@media only screen and (max-width: 600px) {
    .login_form {
        /*height: auto;*/
    }

    /* ----------------------------------- end - media screen for mobile */
    /* -------------------- media screen for ipad pro (portrait) ------------------- */
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .login_form {
        /*height: auto;*/
    }
}
/* --------------------------------- end -  media screen for ipad pro (portrait) */

/* ---------------- media screen for ipad pro (landscape) --------------------- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .login_form {
        /*height: auto;*/
    }
}
/* -------------------------------- end - media screen for ipad pro (landscape) */

/* ----------------------------------------- media screen for 1366 x 768 ------------------------------------ */

@media only screen and (min-device-width: 1366px) and (min-device-height: 768px) and (orientation: landscape) {
    /* For landscape layouts only */
    .login_form {
        /*height: auto;*/
    }
}
/* ------------------------------------------------------------------------ end - media screen for 1366 x 768 -*/
