{% extends 'user_side_menu.html' %} {% load static %} {% block title %}
<title>Book Details</title>
{% endblock%} {% block cssLink %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/book_info.css' %}"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>
{% endblock%} {% block profile %}
<div class="admin-profile">
  <div class="profile">
    {% if checkUser.is_verified %}
    <i class="far fa-user-circle"></i>
    {% else %}
    <i class="fas fa-user-times"></i>
    {% endif %}
    <div class="name">
      <h3>{{ request.user }}</h3>
    </div>
  </div>
</div>
{% endblock %} {% block content %}

<!--  Add books section  -->
<!-- language switch start -->
<div style="display: flex">
  <div class="col-7" style="text-align: right">
    <h5
      style="color: #009879; font-size: xx-large"
      class="langchange"
      data-key="allBook_th5"
    >
      ...
    </h5>
  </div>
  <div class="col-5 p-2" style="text-align: right">
    <input
      type="radio"
      id="lang_en"
      name="lang"
      data-value="en"
      onchange="changeLang('en');"
    />
    <label for="lang_en">English</label>

    <input
      type="radio"
      id="lang_ru"
      name="lang"
      data-value="ru"
      onchange="changeLang('ru');"
    />
    <label for="lang_ru" style="border-left: 1px solid; padding: 0 10px"
      >বাংলা</label
    >
  </div>
</div>
<hr />
<!-- language switch end -->
<!-- book-information part start -->
<section class="book-information">
  <div class="container">
    <div class="book-information-all w-100 shadow mx-auto ps-3 pt-3">
      <div class="row">
        <!-- book name and author part start -->
        <div class="col-md-8 col-sm-12">
          <div class="book-name-information">
            <div class="book-author">
              <ul>
                <li class="nameOfTheBook langchange" data-key="label1">
                  Book Name
                </li>
                <li>{{ book.book_name }}</li>
              </ul>
            </div>
            <div class="book-author">
              <ul>
                <li class="nameOfTheBook langchange" data-key="label2">
                  Author Name
                </li>
                <li>{{ book.author_name }}</li>
              </ul>
            </div>
            <div class="book-author">
              <ul>
                <li class="nameOfTheBook langchange" data-key="label12">
                  Shelf Number
                </li>
                <li>{{ book.shelf_number }}</li>
              </ul>
            </div>
{#            <div class="book-author">#}
{#              <ul>#}
{#                <li class="nameOfTheBook langchange" data-key="label3">#}
{#                  Genre#}
{#                </li>#}
{#                <li>{{ book.category }}</li>#}
{#              </ul>#}
{#            </div>#}
            <div class="book-author">
              <ul>
                <li class="nameOfTheBook langchange" data-key="label5">
                  Language
                </li>
                <li>{{ book.language }}</li>
              </ul>
            </div>
            <div class="book-author">
              <ul>
                <li class="nameOfTheBook langchange" data-key="label4">
                  pages
                </li>
                <li>{{ book.book_pages }}</li>
              </ul>
            </div>
          </div>

          <div class="book-name-information pe-3">
            <div class="book-author">
              <ul>
                <li class="nameOfTheBook langchange" data-key="label7">
                  ISBN Number
                </li>
                <li>{{ book.isbn_number }}</li>
              </ul>
            </div>
            <div class="book-author">
              <ul>
                <li class="nameOfTheBook langchange" data-key="label8">
                  DOI Number
                </li>
                <li>{{ book.doi_number }}</li>
              </ul>
            </div>
            <div class="book-author">
              <ul>
                <li class="nameOfTheBook langchange" data-key="label10">
                  Publisher Name
                </li>
                <li>{{ book.publisher_name }}</li>
              </ul>
            </div>
            <div class="book-author">
              <ul>
                <li class="nameOfTheBook langchange" data-key="label11">
                  Publication Date
                </li>
                <li>{{ book.publisher_date }}</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- book name and author part end -->

        <!-- book image part start -->
        <div class="col-md-4 col-sm-12">
          <div class="book-img mb-2">
            <img
              style="width: 200px"
              src="{{ book.cover_photo.url }}"
              alt=""
              class="border p-2"
            />
          </div>
          <div class="cover">
            {# <a href="" class="btn btn-lg">View Cover</a>#}
          </div>
        </div>

        <!-- book image part end -->

        <!-- book description start -->
        <div class="col-12">
          <div class="book-author">
            <ul>
              <li class="bookDescription langchange" data-key="label13">
                Description
              </li>
              <li class="all-description">{{ book.description }}</li>
            </ul>
          </div>
        </div>
        <!-- book description end -->
      </div>
    </div>
  </div>
</section>
<!-- book information part end -->
<!--  Language Script  -->
<script
  type="text/javascript"
  src="{% static 'js/language_trans.js' %}"
></script>
{% endblock%}
