{% extends 'user_side_menu.html' %}
{% load static %}

	{% block title %}
        <title>Renewal</title>
    {% endblock%}

    {% block cssLink %}
{#        <link rel="stylesheet" type="text/css" href="{% static 'css/user_appointment.css' %}" />#}
    {% endblock%}
    {% block profile %}
        <div class="admin-profile">
            <div class="profile">
                {% if checkUser.is_verified %}
              <i class="far fa-user-circle"></i>
                {% else %}
              <i class="fas fa-user-times"></i>
                {% endif %}
              <div class="name">
                <h3> {{ request.user }} </h3>
              </div>
            </div>
        </div>
    {% endblock %}

{% block content %}
<!-- -------------------------------------- Renewal style -------------------------------------------- -->
    <style>
        * {
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
          font-family: Poppins;
        }

        .icon-style {
          color: green;
        }
        .div-style:nth-child(2n + 1) {
          {#background: #dddddd;#}
        }
        .body-fixed {
          height: 150px;
        }
        .img-style {
          height: 290px;
          overflow: hidden;
        }
        .img-style img {
          height: 100%;
          width: 100%;
        }
    </style>

    <style>
        @media screen and (min-width: 768px) {
            .col-md-3{
                max-width: 50%;
            }
        }
        * {
          font-family: Poppins;
        }
        /* Tabs Start */

        .container {
            width: 100%;
            {#max-width: 1000px;#}
            margin: 0 auto;
        }

        .tabs {
            background: #fff;
            position: relative;
            margin-bottom: 50px;
        }

        .tabs > input,
        .tabs > span {
            width: 50%;
            height: 60px;
            line-height: 60px;
            position: absolute;
            top: 0;
        }

        .tabs > input {
            cursor: pointer;
            filter: alpha(opacity=0);
            opacity: 0;
            position: absolute;
            z-index: 99;
        }

        .tabs > span {
            background: #f0f0f0;
            text-align: center;
            overflow: hidden;
        }

        .tabs > span i,
        .tabs > span {
            -webkit-transition: all .5s;
               -moz-transition: all .5s;
                 -o-transition: all .5s;
                    transition: all .5s;
        }

        .tabs > input:hover + span {
            background: rgba(255,255,255,.1);
        }

        .tabs > input:checked + span {
            background: #fff;
        }

        .tabs > input:checked + span,
        .tabs > input:hover + span {
            color: #3498DB;
        }

        #tab-1, #tab-1 + span {
            left: 0;
        }

        #tab-2, #tab-2 + span {
            left: 50%;
        }

        .tab-content {
            padding: 80px 20px 20px;
            width: 100%;
            min-height: 340px;
        }

        .tab-content section {
            width: 100%;
            display: none;
        }


        #tab-1:checked ~ .tab-content #tab-item-1  {
            display: block;
        }

        #tab-2:checked ~ .tab-content #tab-item-2  {
            display: block;
        }

        #tab-3:checked ~ .tab-content #tab-item-3  {
            display: block;
        }
    </style>
<!-- -------------------------------------- Renewal section -------------------------------------------- -->
    <!-- language switch start -->
    <div style="display: flex">
        <div class="col-7" style="text-align: right">
            <h5 style="color: #009879;
            font-size: xx-large;" class="langchange" data-key="renewals" > ... </h5>
        </div>
        <div class="col-5 p-2" style="text-align: right">
            <input type="radio" id="lang_en" name="lang" data-value="en" onchange="changeLang('en');"/>
            <label for="lang_en">English</label>

            <input type="radio" id="lang_ru" name="lang" data-value="ru" onchange="changeLang('ru');" />
            <label for="lang_ru" style="border-left: 1px solid; padding: 0 10px">বাংলা</label>
        </div>
    </div> <hr>
    <!-- language switch end -->
    <main class="container" style="margin: 0">
      <section class="shadow mt-5">
          <div class="container">
            <div class="tabs effect-1">
                <!-- tab-title -->
                <input type="radio" id="tab-1" name="tab-effect-1" checked="checked">
                <span class="langchange" data-key="RS">Renewals Status</span>

                <input type="radio" id="tab-2" name="tab-effect-1">
                <span class="langchange" data-key="DB">Due Books</span>

                <!-- tab-content -->
                <div class="tab-content">
                    <!-- Renewals section -->
                    <section id="tab-item-1">
                        <div class="row">
                        {% for foo in items %}
                            {% if foo.issue_status == 1 %}
                                <div class="row div-color div-style" style=" padding: 15px 0; border: 1px solid #dddddd;">
                                    <div class="col-12 col-md-6">
                                      <h5>
{#                                        <i class="fas fa-clock" style="color: #007bff;"></i>#}
                                        <span class="langchange" data-key="message6">Your Renewal Request for book "</span>
                                          {{ foo.book.book_name }} <span class="langchange" data-key="message7"></span>
                                        <span class="langchange" data-key="isPending">" is pending</span>
                                      </h5>
                                    </div>
                                    <div class="col-12 col-md-6 d-flex justify-content-lg-end">
                                      <h5 style="color: #007bff;">{{ foo.due_date }}</h5>
                                    </div>
                                </div>
                            {% elif foo.issue_status == 2 %}
                                <div class="row div-color div-style" style=" padding: 15px 0; border: 1px solid #dddddd;">
                                    <div class="col-12 col-md-6">
                                      <h5>
{#                                        <i class="fas fa-check icon-style me-2"></i>#}
                                        <span class="langchange" data-key="message6">Your Renewal Request for book "</span>
                                          {{ foo.book.book_name }} <span class="langchange" data-key="message7"></span>
                                        <span class="langchange" data-key="isApproved">" is approved</span>
                                      </h5>
                                    </div>
                                    <div class="col-12 col-md-6 d-flex justify-content-lg-end">
                                      <h5 style="color: green">{{ foo.due_date }}</h5>
                                    </div>
                                </div>
                            {% elif foo.issue_status == 3 %}
                                <div class="row div-color div-style" style="padding: 15px 0; border: 1px solid #dddddd;">
                                    <div class="col-12 col-md-6">
                                      <h5>
{#                                        <i class="fas fa-times" style="color: red"></i>#}
                                        <span class="langchange" data-key="message6">Your Renewal Request for book "</span>
                                          {{ foo.book.book_name }} <span class="langchange" data-key="message7"></span>
                                        <span class="langchange" data-key="isDenied">" is denied</span>
                                      </h5>
                                    </div>
                                    <div class="col-12 col-md-6 d-flex justify-content-lg-end">
                                      <h5 style="color: red">{{ foo.due_date }}</h5>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </section><!-- Renewals section end -->
                    <!-- Due Books section -->
                    <section id="tab-item-2">
                        <div class="row">
                            {% for foo in due_passed %}
                              <a class="col-12 col-md-3 pb-2" href="{% url '/renewal-info' foo.book.id %}" style="text-decoration: none">
                               <div >
                              <div class="shadow">
                                <div class="card">
                                  <div class="img-style">
                                    <img
                                      src="{{ foo.book.cover_photo.url }}"
                                      class="card-img-top"
                                      alt="..."
                                    />
                                  </div>
                                  <div class="card-body overflow-auto text-center ">
                                    <h5 class="card-text">
                                      <span style="color: #a4a4a4"> Book Name: </span>
                                      <span>{{ foo.book.book_name }}</span>
                                    </h5>

                                    <h5 class="card-text">
                                      <span style="color: #a4a4a4"> Writer:</span>
                                      <span>{{ foo.book.author_name }}</span>
                                    </h5>
                                  </div>
                                </div>
                              </div>
                            </div>
                               </a>
                               {% endfor %}
                        </div>
                    </section> <!-- Due Books section end -->
                </div>
            </div>
          </div>
      </section>
    </main>

    <!--  Language Script  -->
    <script type="text/javascript" src="{% static 'js/language_trans.js' %}"></script>
{% endblock%}