{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>anondolok login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sign_in.css' %}">
</head>
<body>

  <!------------------------------------------ navbar   --------------------------------------------------->
    <section class="navbar-section">
      <nav style="background: #DCDCDC;" class="navbar navbar-expand-lg navbar-light ">
        <a
          class="navbar-brand anondolok-library-header-font"
          href="/landing"
          style="color: #4dd0e1"
          ><img style="width: 180px" src="../static/images/logo.png" alt=""></a
        >
      </nav>
    </section>
  <!------------------------------------------ end - navbar   --------------------------------------------------->

  <!------------------------------------------ Login form   --------------------------------------------------->
    <section class="login_form">
      <form action="" method="POST" style="display: contents">
        {% csrf_token %}
        <div class="login">
          <h1 class="login__title">Sign In</h1>
          <div class="login__group">
            <input class="login__group__input" name="username" type="text" placeholder="Username" required="true"/>
          </div>
          <div class="login__group">
            <input class="login__group__input" name="password" type="password" placeholder="Password" required="true"/>
          </div>
          <button class="login__sign-in" type="submit">Sign In</button>
          <div class="login__secondary-cta">
          <!--  <a class="login__secondary-cta__text" href="#">Remember me</a>  -->
            <form class="login__secondary-cta__text" action="#" method="post">
              <!-- <input type="checkbox" id="save_pass" name="pass" value="pass">
              <label for="vehicle1">Remember me</label><br> -->
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </form>
            <a class="login__secondary-cta__text login__secondary-cta__text--need-help" href="#">Need help?</a>
          </div>

          <div class="signup_option">
            <p>New to library? </p>
            <a class="sign_up_message" href="register">Sign up Now</a>
          </div>

            {{ form.errors }}
          {% for message in messages %}
                <h3 style=" text-align: center; margin-top: 15px; color: #E91E63;">
                {{ message }}
                </h3>
          {% endfor %}

        </div>
      </form>
    </section>
  <!------------------------------------------ end - Login form   --------------------------------------------------->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
