{% extends 'nav_base.html' %}
{% load static %}

{% block title %}
<title>Terms & Conditions</title>
{% endblock %}

{% block cssLink %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock %}

{% block content %}

<!-- --------------------------- terms and conditions section ------------------------------ -->

<div class="main-border">
  <section>
    <div class="content-option">
      <div class="row" id="zero-margin-padding">
        <div class="col"></div>
        <div class="col-lg-6 col-md-6">
          <div>
            <h3 class="center-text-content font-type-header langchange" data-key="terms">
              ব্যবহারকারীদের শর্তাবলী
            </h3>
            <p class="center-text-content font-type-contact-us langchange" data-key="message21">
              যে কোন অনুসন্ধানের জন্য নির্দ্বিধায় আমাদের সাথে যোগাযোগ করুন।
            </p>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <!-- -------------------  ------------------------->
      <hr>
        <p class="langchange" data-key="message22">
            "নিজাম ও বই" "আনন্দলোক" এর একটি উৎকর্ষ কার্যক্রম। আনন্দলোক এর প্রয়াত অধ্যক্ষ নিজাম উদ্দীন চৌধুরীর স্মৃতির প্রতি শ্রদ্ধা নিবেদন
            স্বরূপ "নিজাম ও বই" গ্রন্থাগারের যাত্রা শুরু হয়। মানুষকে বই পড়ায় উদ্বুদ্ধ করতে পারলেই আমাদের প্রচেষ্টা সফল হবে।
        </p>
      <br>
      <p>
          <span style="font-weight: bold" class="langchange" data-key="message23">গ্রন্থাগার অফিস সময়ঃ</span>
          <span class="langchange" data-key="message24">
              রবিবার থেকে বৃহস্পতিবার, বিকাল ৪.০০ টা থেকে রাত ৮.০০ টা। শুক্রবার ও শনিবার শুধুমাত্র ”আনন্দলোক”
              এর ছাত্র-ছাত্রীদের জন্য খোলা থাকবে।
          </span>
      </p> <br>

      <h2 style="text-align: center" class="langchange" data-key="message25">সদস্য হবার নিয়মাবলি </h2>
      <hr>

      <p class="langchange" data-key="message26">
          ১. "নিজাম ও বই" গ্রন্থাগার-এর সদস্য হওয়া একটি সম্পূর্ণ স্বতন্ত্র বিষয়। এটি "আনন্দলোক" এর শিক্ষার্থী হওয়ার সঙ্গে সম্পৃক্ত নয়। যে কেউ
          সদস্য হতে পারবেন।
      </p>
      <p class="langchange" data-key="message27">
          ২. এই গ্রন্থাগারের বই পড়ার দুটো সুযোগ রয়েছে- এক: পাঠকক্ষে বসে পড়া, দুই: গ্রন্থাগারের সদস্য হয়ে বাড়িতে বই নেওয়া।
      </p>
      <p class="langchange" data-key="message28">
          ৩. অনলাইনে আবেদনপত্র পূরণের মাধ্যমে সদস্য পদের জন্য আবেদন করতে হবে। আবেদনপত্র গৃহীত হলে সদস্য হওয়া যাবে।
      </p>
      <p class="langchange" data-key="message29">
          ৪. কাউকে সদস্যপদ দেওয়া, না দেওয়া বা পরিস্থিতিগত কারণে কারো সদস্যপদ বাতিল করার পূর্ণ ক্ষমতা গ্রন্থাগার কর্তৃপক্ষের থাকবে।
      </p>
      <p class="langchange" data-key="message30">
          ৫. প্রয়োজন হলে সদস্য নিজে না এসে অন্য কারো মাধ্যমেও বই দেওয়া-নেওয়া করতে পারবেন। এক্ষেত্রে সদস্য যাকে পাঠাবেন তার হাতে তাঁর স্বাক্ষরিত
          অনুরোধপত্র পাঠাতে হবে। তবে বই-এর দায়িত্ব সদস্যকেই বহন করতে হবে।
      </p>
      <p class="langchange" data-key="message31">
          ৬. গ্রন্থাগারের সদস্য হতে হলে এককালীন ৫০০ টাকা নিরাপত্তা অর্থ জমা দিতে হবে।
      </p>
      <p class="langchange" data-key="message32">
          ৭. গ্রন্থাগারের সদস্যদের মাসিক অফেরতযোগ্য ৫০ টাকা করে চাঁদা প্রদান করতে হবে।
      </p>
      <p class="langchange" data-key="message33">
          ৮. নিরাপত্তা অর্থ ফেরতযোগ্য। সদস্যপদ থেকে অব্যাহতি চাইলে নিরাপত্তা অর্থ ফেরত নেওয়ার আবেদন করতে হবে। আবেদন করার এক সপ্তাহ পরে
          টাকা ফেরত দেওয়া হবে।
      </p>
      <p class="langchange" data-key="message34">
          ৯. একসঙ্গে সর্বাধিক দুটো বই বাড়িতে নেওয়া যাবে। বই নেওয়ার ১৫ দিনের মধ্যে অবশ্যই তা ফেরত দিতে হবে। বিশেষ কারণে তা সম্ভব না হলে
          কর্তৃপক্ষের সাথে কথা বলে সময় আরো ১৫ দিন পর্যন্ত বর্ধিত করা যেতে পারে।
      </p>
      <p class="langchange" data-key="message35">
          ১০. সদস্যের পক্ষ থেকে কোনো অনুরোধ না এলে তৃতীয় সপ্তাহ থেকে এবং অনুরোধ এলে পঞ্চম সপ্তাহ থেকে বই ফেরত না দেওয়ার জন্য জরিমানা
          শুরু হবে। প্রতি সপ্তাহের বিলম্বের জন্য জরিমানা হবে ২০ টাকা করে। পরবর্তীতে বই নিতে হলে জরিমানার অর্থ পরিশোধ করে বই নেওয়া যাবে।
      </p>
      <p class="langchange" data-key="message36">
          ১১. যেকোনো সদস্যের সদস্যপদ স্থগিত বা বাতিল করার ক্ষমতা গ্রন্থাগার কর্তৃপক্ষের থাকবে।
      </p>
      <p class="langchange" data-key="message37">
          ১২. ঠিকানা পরিবর্তন করলে সদস্যকে অবশ্যই পরিবর্তিত ঠিকানা গ্রন্থাগার কর্তৃপক্ষকে জানাতে হবে।
      </p>
      <p class="langchange" data-key="message38">
          ১৩. বইয়ের মধ্যে যে কোনো কিছু লেখা/দাগ দেওয়া, ইচ্ছাকৃতভাবে বইয়ের পৃষ্ঠা/মলাট ছেঁড়া সম্পূর্ণরূপে নিষিদ্ধ। কোন সদস্যের বিরুদ্ধে এ ধরনের
          অভিযোগের সত্যতা পাওয়া গেলে গ্রন্থাগার কর্তৃপক্ষ উপযুক্ত ব্যবস্থা নেবে।
      </p>

  </section>
</div>

<!-- --------------------------------------------- end - terms and conditions section -->

{% endblock %}
