{% extends 'user_side_menu.html' %}
{% load static %}

	{% block title %}
        <title>Settings</title>
    {% endblock%}

    {% block cssLink %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/user_setting.css' %}" />
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
{#        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
    {% endblock%}
    {% block profile %}
        <div class="admin-profile">
            <div class="profile">
                {% if checkUser.is_verified %}
              <i class="far fa-user-circle"></i>
                {% else %}
              <i class="fas fa-user-times"></i>
                {% endif %}
              <div class="name">
                <h3> {{ request.user }} </h3>
              </div>
            </div>
        </div>
    {% endblock %}

{% block content %}
    <style>
        * {
          font-family: Poppins;
        }
    </style>

    <!-- -------------------------------------- Add books section -------------------------------------------- -->
    <!-- language switch start -->
    <div style="display: flex">
        <div class="col-7" style="text-align: right">
            <h5 style="color: #009879;
            font-size: xx-large;" class="langchange" data-key="setting_title" > Setting </h5>
        </div>
        <div class="col-5 p-2" style="text-align: right">
            <input type="radio" id="lang_en" name="lang" data-value="en" onchange="changeLang('en');"/>
            <label for="lang_en">English</label>

            <input type="radio" id="lang_ru" name="lang" data-value="ru" onchange="changeLang('ru');" />
            <label for="lang_ru" style="border-left: 1px solid; padding: 0 10px">বাংলা</label>
        </div>
    </div> <hr>
    <!-- language switch end -->

    <main
      class="
        mt-5
        container
        d-flex
        justify-content-center
        align-items-center
        mainDiv
      "
    >
      <section class="main-section row px-5 py-5 shadow">
{#        <h3 class="text-style">Setting</h3>#}

        <div>
          <img src="{{ checkUser.profilePic.url }}" class="img-thumbnail mx-auto d-block" style="height: 200px;" alt="Profile Photo">
        </div>

        <!-- verification message start -->
        {% if checkUser.verification_status == 0 %}
        <div style="text-align: center">
            <p style="text-align: center" >
                <span class="langchange" data-key="message13">You are not a verified member </span><br>
                <span class="langchange" data-key="message17">Please request for account verification.</span><br>
            </p>
            <span><a class="btn btn-success"  href="{% url '/verification-request' checkUser.user.id %}">Verify</a></span> </p>
        </div>
        {% elif checkUser.verification_status == 2 %}
        <div>
            <p style="text-align: center">
                <span class="langchange" data-key="message14">Your verification request is pending</span><br>
                 <span class="langchange" data-key="message15">Please contact admin with necessary things.</span><br></p>
        </div>
        {% elif checkUser.verification_status == 3 %}
        <div style="text-align: center">
            <p style="text-align: center" class="langchange" data-key="message16">Your verification request is Denied. Request again... </p><br>
            <span><a class="btn btn-success"  href="{% url '/verification-request' checkUser.user.id %}">Verify</a></span>
        </div>
        {% endif %}
        <!-- verification message end -->

        <!-- Edit profile div -->
        <div class="mt-5 col-12 col-md-12">
          <h5 class="edit-profile-text-style">
            Edit Profile
            <!-- toogle button -->
            <button
              onclick="myFunction()"
              style="border: none"
              class="fas fa-chevron-circle-down"
            ></button>
            <!-- toogle button -->
          </h5>
        </div>

      <!----------------------- Edit profile div Start ------------------>
        <div class="p-4 shadow" id="profileDiv" style="">
          <form action="edit_user_profile" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
            <div class="row">
                <div class="col-12 col-md-6">
                    <fieldset>
                        <label for="name">Full Name:</label>
                        <input type="text" id="name" name="first_name">

                        <label for="number">Phone Number:</label>
                        <input type="tel" id="mail" name="phone">

                        <label for="email">Address:</label>
                        <input type="text" id="mail" name="address">
                    </fieldset>
                </div>

                <div class="col-12 col-md-6">
                    <div class="file-upload">
                        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

                        <div class="image-upload-wrap">
                            <input class="file-upload-input" type='file' name="profilePic" onchange="readURL(this);" accept="image/*" />
                            <div class="drag-text">
                                <h3>Drag and drop a file or select add Image</h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <img class="file-upload-image" src="#" alt="your image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="text-align: center">
                    <button type="button" class="btn btn-success btn-group-lg" data-toggle="modal" data-target="#exampleModal">Save</button>
                    <button class="btn btn-danger btn-group-lg" type="reset">Cancel</button>
                    {% for message in messages %}
                        <h3 style=" text-align: center; margin-top: 15px; color: #E91E63;">
                            {{ message }}
                            {{ form.errors }}
                        </h3>
                    {% endfor %}
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Profile Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure about the changes?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </form>
        </div>
      <!-- Edit profile div end-->


        <!-- modal of profile saved succesfully -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body text-center">
                <p>Profile Saved Succesfully</p>
              </div>
              <div class="text-center icon-style mb-3">
                <i class="far fa-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- modal of profile saved succesfully end-->

        <!-- Change password div -->

        <div class="mt-5 col-12 col-md-12">
          <h5 class="edit-profile-text-style">
            Change Password
            <!-- toogle button -->
            <button
              onclick="changePassFunction()"
              style="border: none"
              class="fas fa-chevron-circle-down"
            ></button>
            <!-- toogle button -->
          </h5>
        </div>

        <div class="p-4 shadow" id="passDiv" style="display: none">
          <div>
              <form action="change_user_pass" method="post">
                  {% csrf_token %}
            <div class="row">
              <div class="col-12 col-md-12">
                <label for="">New Password</label><br />
                <input style="border: 1px solid" type="password" name="password" id="" />
              </div>

              <div class="col-12 col-md-12">
                <label for="">Confirm New Password</label><br />
                <input style="border: 1px solid" type="password" name="password2" id="" />
              </div>
              <div class="col-12 col-md-3 mt-2 ms-5">
                <button
                  class="save-btn mx- btn-clr"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal1"
                  value="Save"
                >
                  Save
                </button>
              </div>
                {% for message in messages %}
                    <h3 style=" text-align: center; margin-top: 15px; color: #E91E63;">
                    {{ message }}
                    {{ form.errors }}
                     </h3>
                {% endfor %}
            </div>
            </form>
          </div>
        </div>
        <!-- Change password div -->
        <!-- Change password modal -->
        <div
          class="modal fade"
          id="exampleModal1"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body text-center">
                <p>Password Changed Succesfully</p>
              </div>
              <div class="text-center icon-style mb-3">
                <i class="far fa-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- Change password modal end-->
      </section>
    </main>


    <!-- JavaScript Cdn -->
{#    <script#}
{#      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"#}
{#      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"#}
{#      crossorigin="anonymous"#}
{#    ></script>#}
    <!-- JavaScript -->
    <script>
      const profileDiv = document.getElementById("profileDiv");
      const passDiv = document.getElementById("passDiv");
      function myFunction() {
        if (profileDiv.style.display === "none") {
          profileDiv.style.display = "block";
        } else {
          profileDiv.style.display = "none";
        }
      }
      function changePassFunction() {
        if (passDiv.style.display === "none") {
          passDiv.style.display = "block";
        } else {
          passDiv.style.display = "none";
        }
      }
    </script>

    <!--  Language Script  -->
    <script type="text/javascript" src="{% static 'js/language_trans.js' %}"></script>

    <!-- image uplaod -->
    <script>
    function readURL(input) {
      if (input.files && input.files[0]) {

        var reader = new FileReader();

        reader.onload = function(e) {
          $('.image-upload-wrap').hide();

          $('.file-upload-image').attr('src', e.target.result);
          $('.file-upload-content').show();

          $('.image-title').html(input.files[0].name);
        };

        reader.readAsDataURL(input.files[0]);

      } else {
        removeUpload();
      }
    }

    function removeUpload() {
      $('.file-upload-input').replaceWith($('.file-upload-input').clone());
      $('.file-upload-content').hide();
      $('.image-upload-wrap').show();
    }
    $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
    });
    </script>


{% endblock%}